[package]
name = "xtask"
version.workspace = true
edition.workspace = true
license.workspace = true
publish = false
repository.workspace = true

[dependencies]
anyhow.workspace = true
clap.workspace = true
